<p>Número de preguntas: <strong><%= statistics.n_preguntas %></strong></p>
<p>Número de comentarios totales: <strong><%= statistics.n_comentarios %></strong></p>
<p>Número medio de comentarios por pregunta: <strong><%= statistics.promedio_comentarios%></strong></p>
<p>Número de preguntas sin comentarios: <strong><%= statistics.preg_sin_com %></strong></p>
<p>Número de preguntas con comentarios: <strong><%= statistics.preg_con_com %></strong></p>
<p>Número de comentarios no publicados: <strong><%= statistics.comentarios_no_pub %></strong></p>